@import url('https://fonts.googleapis.com/css2?family=Biryani&family=Montserrat+Alternates:ital@1&family=Oswald&display=swap');

/* Headings and Logo */

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h3,
h4,
h5,
h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #1c1b1a
}

body {
    font-family: 'Biryani', sans-serif;
}

hr {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, #aade02, #09f8f3, #f50246);
    margin: 10px 0;
}

/* Navigation Bar */

#navbar {
    background-color: #1c1b1a;
    padding: 10px;
}

.logo {
    width: 20%;
}

#menu {
    font-size: 50%;
    letter-spacing: 2px;
    display: inline-block;
    position: absolute;
    right: 5%;

}

#menu li {
    list-style: none;
}

.active {
    position: relative;
}

.active::after {
    content: " ";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #aade02 0%, #aade02 33%, #09f8f3 33%, #09f8f3 66%, #f50246 66%, #f50246 100%);
}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #aade02 0%, #aade02 33%, #09f8f3 33%, #09f8f3 66%, #f50246 66%, #f50246 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 1s;
}

#menu a:hover {
    background-size: 100% 100%;
    color: #1c1b1a;
    font-weight: bold;
}


/* Hero Image */

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 350px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: 110%;
}

#hero-text {
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 130px;
    right: 10%;
    left: 10%;
}

/* Cake options home page */

#cake-options {
    width: 100%;
    height: auto;
}

.image-container {
    width: 100%;
    height: 250px;
    border: 1px solid #f50246;

}

.cupcake-index-img {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.description {}

/* Footer */

#footer {
    margin-right:1%;
    border-top: 2px solid #aade02;
    background-color: #1c1b1a;
    height:auto;
    font-size: xx-small;
    position: absolute;
}

#footer h3 {
    color:#FFFFFF;
}

.footer-contact {
    color:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }

.footer-logo {
    height: 20%;
    width: 20%;
    padding:5%;
}

.footer-contact-info {
    padding-right: 5%;
    color: #ffffff;
}

.social-media {
    border-bottom: 2px solid #f50246;
    border-top: 2px solid #09f8f3;
    font-size: x-small;
    display: flex;
    justify-content: space-between;
    padding:1%;
}

.company-footer {
    padding-left: 2%;
    color: #ffffff;
}

.social-footer{
    padding-right:2%;
    word-spacing: 5px;
    }

.social-links {
    color: #ffffff;
    text-decoration: none;
}


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #hero-image {
        height: 450px;
        width: 100%;
        background-size: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #hero-image {
        height: 600px;
        width: 100%;
        background-size: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* .cupcake-index-img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .description {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 65%;
    }
    
    .image-container:hover .cupcake-index-img {
        opacity: 0.15;
    }
    
    .image-container:hover .description {
        opacity:1;
    } */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}